@model ShopTARge23.Models.OpenWeatherMaps.OpenWeatherMapsViewModel

<div class="container mt-5">
    <div class="card text-white bg-dark mb-3" style="max-width: 45rem;">
        <div class="card-header">
            <h5 class="card-title">@DateTime.Now.ToString("dd/MM/yyyy") Daily forecast for @Model.Name</h5>
        </div>
        <div class="card-body">

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">City:</label>
                <div class="col-sm-8">
                    <label class="col-form-label">@Model.Name</label>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Temperature:</label>
                <div class="col-sm-8">
                    <label class="col-form-label">@Model.Temp °C</label>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Temperature Feels Like:</label>
                <div class="col-sm-8">
                    <label class="col-form-label">@Model.FeelsLike °C</label>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Humidity:</label>
                <div class="col-sm-8">
                    <label class="col-form-label">@Model.Humidity %</label>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Pressure:</label>
                <div class="col-sm-8">
                    <label class="col-form-label">@Model.Pressure Hpa</label>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Wind Speed:</label>
                <div class="col-sm-8">
                    <label class="col-form-label">@Model.WindSpeed m/s</label>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Weather Condition:</label>
                <div class="col-sm-8">
                    <label class="col-form-label">@Model.WeatherConditions[0].Main</label>
                </div>
            </div>
        </div>
    </div>
</div>
